:root {
  --light-grey: #D3D3D3;
  --grey: #818181;
  --dark-grey: #3e3e3e;
  --black: #000;
  --white: #FFF;
}

/* Base setup */
:root {
    font-size: 100%;
}

/* Set up a decent box model on the root element */
html {
    box-sizing: border-box;
}

/* Make all elements from the DOM inherit from the parent box-sizing
   Since `*` has a specificity of 0, it does not override the `html` value
   making all elements inheriting from the root box-sizing value
   See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

/* Use perfect fourth modular scale */
body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.heading1 {
  font-size: 2.369rem;
  margin-bottom: 2rem;
}

.heading2 {
  font-size: 1.777rem;
  margin-bottom: 1rem;
}

.small-text {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.header {
  background-color: var(--white);
  margin-bottom: 1rem;
}

/* Navigation */

@media (min-width: 800px) {
  .site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}

.site-nav__menu {
  display: none;
  list-style-type: none;
}

@media (min-width: 800px) {
  .site-nav__menu {
    display: flex;
    flex-direction: row;
  }
}

.site-nav__item {
  padding-bottom: 1.5rem;
}

@media (min-width: 800px) {
  .site-nav__item {
    margin-left: 2rem;
    padding-bottom: 0;
  }
}

.site-nav__link {
  text-decoration: none;
  font-size: 2rem;
  color: var(--grey);
  transition: 0.3s;
}

@media (min-width: 800px) {
  .site-nav__link {
    font-size: 1rem;
  }
}

.site-nav__link:hover {
  color: var(--black);
}

.is-overflowhidden {
  overflow: hidden;
}

.site-nav.is-active .site-nav__menu {
  display: block;
  text-align: center;
}

.logo {
  height: 40px;
}

@media (min-width: 800px) {
  .logo {
    height: 50px;
  }
}

.site-nav.is-active {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 800px) {
  .header__wrapper {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.menu--hamburger {
  display: inline-block;
}

@media (min-width: 800px) {
  .menu--hamburger {
    display: none;
  }
}

.bar {
  width: 35px;
  height: 5px;
  background-color: var(--black);
  margin: 6px auto 6px auto;
  transition: 0.4s;
}

/* Rotate first bar */
.hamburger--close .bar1 {
  transform: rotate(-45deg) translate(-9px, 7px) ;
}

/* Fade out the second bar */
.hamburger--close .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.hamburger--close .bar3 {
  transform: rotate(45deg) translate(-8px, -7px) ;
}

@media (min-width: 800px) {
  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
}

.footer {
  background-color: var(--light-grey);
  color: var(--black);
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 800px) {
  .footer {
    padding: 1rem;
  }
}

.footer__contact {
  width: 90%;
  text-align: left;
  order: -2;
}

@media (min-width: 800px) {
  .footer__contact {
    width: 60%;
  }
}

.contact__list {
  list-style-type: none;
}

.contact__item {
  margin-bottom: 0.6rem;
  color: var(--dark-grey);
}

.footer__social {
  width: 100%;
  text-align: left;
}

@media (min-width: 800px) {
  .footer__social {
    width: 35%;
  }
}

.footer__backtotop {
    display: flex;
    flex-direction: column;
    order: -1;
    font-size: 2em;
}

@media (min-width: 800px) {
  .footer__backtotop {
    order: 0;
    font-size: 3em;
  }
}

.backtotop {
  font-size: 12px;
  position: relative;
  top: -5px;
}

.social__list {
  list-style-type: none;
}

.social__item {
   display: inline;
}

.footer__copyright {
  width: 100%;
  color: var(--dark-grey);
}

/* NB: This will be hidden from view but still be available to screenreaders
 http://webaim.org/techniques/css/invisiblecontent/ */
.u-hidden-visually {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden;
}

.u-hidden-visually:focus {
  position:static;
  width:auto;
  height:auto;
}

/* Style all font awesome icons */
.fa--social {
  padding: 5px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  width: 23px;
  border-radius: 5px;
}

.fa--backtotop {
  text-align: center;
  text-decoration: none;
  color: var(--black);
}

.fa--social:hover {
  opacity: 0.7;
}

.fa--facebook {
  color: #3B5998;
}

.fa--twitter {
  color: #55ACEE;
}

.fa--linkedin {
  color: #0077B5;
}

.u-padding-bottom--medium {
  padding-bottom: 20px;
}


/* Specific page stuff */
.hero {
  background-image: url("hero.jpg");
  height: 200px;
  background-position: center;
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 2rem;
}

.section2 {
  background-color: black;
  color: white;
}

.para {
  margin: 0 auto;
  padding-bottom: 1rem;
}

@media (min-width: 800px) {
  .para {
    width: 600px;
  }
}
